*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica;
}
header {
    display: flex;
    flex: wrap;
    justify-content: space-between;

}

header button {
    margin: 3%;
    width: 150px;
    background: white;
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}

header button a {
    color: black;
}

header h4 {
    margin: 4%;
}

main {
    margin: 7%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.homepage {
    padding-bottom: 22px;
}
.info-txt {
    padding-bottom: 25px;
}
.start-btn {
    display: inline-block;
    padding: 10px 15px;
    background: #02b22e;
    font-size: 30px;
    border-radius: 15px;
    position: relative;
    margin: 1px;
}

.start-btn a {
    color:black;
}